.advantages {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  background-color: #ffd700;
  padding: 85px 0 69px;
  max-width: 2406px;
  .list-advantages {
    margin: 0
    padding: 0
    &:after {
      content: "."
      clear: both
      display: block
      height: 0
      font-size: 0
      visibility: hidden
    }
    > li {
      border 2px solid gold
      overflow hidden
      margin: 0;
      display: block;
      float: left;
      width: 20%;
      position: relative;
      z-index: 0;
      background-position: center center
      background-size cover
      @media (max-width: 1200px) {
        width: 50%;
      }
      .hover-block {
        transition: all 0.3s ease-in-out;
      }
      &.in-right {
        .hover-block {
          top: 0;
          left: 0;
        }
      }
      &.in-left {
        .hover-block {
          top: 0;
          left: 0;
        }
      }
      &.in-top {
        .hover-block {
          top: 0;
          left: 0;
        }
      }
      &.in-bottom {
        .hover-block {
          top: 0;
          left: 0;
        }
      }
      img {
        opacity: 0;
        width: 100%;
        display: block;
        padding: 3px
      }
      div {
        z-index: 2;
        position: absolute;
        background: rgba(75, 75, 75, 0.7);
        width: 100%;
        height: 100%;
      }
    }
  }
}
